* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../../img/dentista-branco.png');
    background-size: cover, 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    flex-direction: row;
    display: flex;
}

ul li {
    padding: 5px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    color: blue;
    transition: 0.5s ease-in-out all;
}